@keyframes ldio-02pli5svykq3 {
  0% {
    top: 111.39px;
    left: 111.39px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 31.995px;
    left: 31.995px;
    width: 158.79000000000002px;
    height: 158.79000000000002px;
    opacity: 0;
  }
}
.ldio-02pli5svykq3 div {
  position: absolute;
  border-width: 7.11px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  animation: ldio-02pli5svykq3 1.282051282051282s cubic-bezier(0, 0.2, 0.8, 1)
    infinite;
}
.ldio-02pli5svykq3 div:nth-child(1) {
  border-color: #322923;
  animation-delay: 0s;
}
.ldio-02pli5svykq3 div:nth-child(2) {
  border-color: #513e2e;
  animation-delay: -0.641025641025641s;
}
.loadingio-spinner-ripple-1emhkh6n70f {
  margin: 10% auto;
  width: 237px;
  height: 237px;
  overflow: hidden;
  background: none;
}
.ldio-02pli5svykq3 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.ldio-02pli5svykq3 div {
  box-sizing: content-box;
}
